
        <section class="container bg-gray-200 py-8" id="blog">
            {{#foreach posts}}
              <!-- Card Start -->
              <div class="flex flex-wrap py-8 px-8">
                <div class="w-full flex justify-center items-center lg:w-2/5 ">
                  <a href="{{url}}" class="border-solid border-indigo-300 border-4 lg:h-auto lg:w-11/12">
                    <img src="{{feature_image}}" class="h-auto w-full hover:opacity-80">
                  </a>
                </div>
                <div class="w-full px-2 lg:w-3/5">
                  <h3 class="text-2xl text-center font-medium m-3 xl:text-3xl">
                    <a href="{{url}}" class="hover:text-gray-800 hover:underline">
                      {{title}}
                    </a>
                  </h3>
                  <p class="text-xl">
                    {{#if meta_description}}
                      <a href="{{url}}" class="hover:text-gray-800 hover:underline">{{meta_description}}</a>
                    {{else}}
                      <a href="{{url}}" class="hover:text-gray-800 hover:underline">{{excerpt words=50}}</a>
                    {{/if}}
                  </p>
                  <p class="text-center m-6">
                    <a href="{{url}}" class="bg-indigo-300 m-2 p-2 rounded hover:bg-indigo-200 hover:text-gray-800">Read More</a>
                  </p>
                  <p class="h-full text-center text-md m-6">
                    {{date}} - {{authors}}
                  </p>
                </div>
              </div>
              <!-- Card End -->
            {{/foreach}}
              {{pagination}}
        </section>